root {
  /* CSS HEX */
  --rich-black: #001b22ff;
  --rich-black-2: #001821ff;
  --veronica: #922ef2ff;
  --moonstone: #4da2bdff;
  --rich-black-3: #000f13ff;
  --electric-indigo: #7300f0ff;
  --sky-blue: #80bdd0ff;
  --lavender-blush: #f5ebf5ff;
}
/* Textfarben */
.text-rich-black {
  color: var(--rich-black);
}
.text-rich-black-2 {
  color: var(--rich-black-2);
}
.text-veronica {
  color: var(--veronica);
}
.text-moonstone {
  color: var(--moonstone);
}
.text-electric-indigo {
  color: var(--electric-indigo);
}
.text-sky-blue {
  color: var(--sky-blue);
}
.text-lavender-blush {
  color: var(--lavender-blush);
}

/* Hintergrundfarben */
.bg-rich-black {
  background-color: var(--rich-black);
}
.bg-rich-black-2 {
  background-color: var(--rich-black-2);
}
.bg-veronica {
  background-color: var(--veronica);
}
.bg-moonstone {
  background-color: var(--moonstone);
}
.bg-electric-indigo {
  background-color: var(--electric-indigo);
}
.bg-sky-blue {
  background-color: var(--sky-blue);
}
.bg-lavender-blush {
  background-color: var(--lavender-blush);
}
